@page "/"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@inject NavigationManager NavigationManager
<PageTitle>Index</PageTitle>

<h1 class="text-center fw-bold text-secondary">Master Detail</h1>

<h2 class="text-center  text-secondary">Project of Tour Management System </h2>

